$selection-color = #DCDCDC

.header
	&__nav
		text-align center
		li
			display inline-block
			padding 15px
			a
				text-decoration none
				color black
				font-weight bold
			&:hover, &.selected
				background $selection-color