//- imports
@import header

//- colors
$primary-color = #164B69
$main-block-color = #E3E3E3

//- font-attributes
$font-default = 14px arial  

//- mixins
correctText(val)
	font-size val vw
	word-spacing val vw

//default prepare
*
	padding 0
	margin 0
	box-sizing border-box
	border 0
	
body
	background-color $primary-color
	font $font-default
	text-align center
	
.wrapper
	background-color $main-block-color
	min-width 700px
	min-height 700px
	margin 30px 160px
	padding 10px
	
main
	padding 2% 5%
	overflow hidden
	
.main
	p
		text-align justify
		word-spacing 1.3em
		text-indent 1.5em
		line-height 2
			
	&__text
		overflow hidden
		img
			float right
			margin-left 10px
	&__video
		text-align center
		margin-top 20px
			
.font-page
	display flex
	flex-direction column
	p 
		text-align justify
		word-spacing 1.3em
		text-indent 1.5em
		line-height 2
	section.images
		display flex
		height 100%
		justify-content: space-between
		flex-wrap nowrap
		img
			width 30%
			object-fit cover
			
@media(max-width 900px)
	.wrapper
		min-width 300px
		min-height 300px
		margin 10px 
	.main, .font-page
		margin-top 30px
		p 
			correctText(1.8)
		&__text
			text-align center
			img
				float none
		&__video
			iframe
				width 100%
	.font-page
		section.images
			flex-direction column
			justify-content center
			align-items center
			img 
				width 70%
			