//- imports
include _header
include utils/image-loader 

//- constants
-var IMAGE_DIR = "img/"

//- this block will be ovveriding in each page template
block page-config
	-var title = 'DEFAULT_TITLE'
	-var selected_item_id = ''

//- basis body
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no") 
		title #{title} | LAB5
		block links
			link(rel="stylesheet", href="css/main.css") 
	body
		.wrapper
			//- can ovveride this for deleting
			block menu
				+nav_menu(selected_item_id)
			block content