//- menu-item map
-
	var menu_items = [
		{
			id:'css-menu-item',
			link: 'index',
			title: 'CSS'
		},

		{
			id:'syntax-menu-item',
			link: 'css-syntax',
			title: 'Синтаксис CSS'
		},

		{
			id: 'insert-menu-item',
			link: '#css-insert',
			title: 'Вставка CSS'
		},

		{
			id: 'text-menu-item',
			link: '#css-text',
			title: 'Текст CSS'
		},

		{
			id: 'font-menu-item',
			link: 'font',
			title: 'CSS шрифт'
		},

		{
			id: 'blocks-menu-item',
			link: '#blocks',
			title: 'Блоки'
		}
		]