extends includes/basis

//- ovveride font page config for basis
append page-config
	-var title = 'CSS'
	-var selected_item_id = 'font-menu-item'

//- add Font content 
block content
	main.font-page
		section.images
			+image("css-probely", PNG)
			+image("css-text-decoration", PNG)
			+image("css-text", PNG)
		p.
			#[tt font] - универсальное свойство, которое позволяет одновременно задать несколько характеристик шрифта и текста.#[br]
			Синтаксис#[br]
			font: <tt>[font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit]</tt>
		p.
			#[tt font-style] - определяет начертание шрифта: обычное, курсивное или наклонное. Когда для текста установлено курсивное или наклонное начертание, браузер обращается к системе для поиска подходящего шрифта. Если заданный шрифт не найден, браузер использует специальный алгоритм для имитации нужного вида текста. Результат и качество при этом могут получиться неудовлетворительными, особенно при печати документа.#[br]
			Синтаксис#[br]
			font-style: #[tt normal | italic | oblique | inherit]
