extends includes/basis

//- ovveride font page config for basis
append page-config
	-var title = 'Синтаксис CSS'
	-var selected_item_id = 'syntax-menu-item'

block content
	main.syntax-page
		section.images
			+image("css2", JPG)
			+image("html", JPG)
			+image("syntax", JPG)
		p.long-text.
			В CSS существует более ста различных свойств, и бесконечное число допустимых значений. Не все пары свойств и значений допускаются, и каждое свойство определяет, каковы допустимые значения. Когда значение не подходит для данного свойства, объявление считается недействительной и целиком игнорируются CSS-движком.
		section.double-text
			p.
				#[b Свойство] (property) — идентификатор действия, которое будет применено к элементу (например, цвет, или размер границы, и т.д.).
			p.
				#[b Значение] (value) — описывает, как именно свойство будет обработано браузером. Каждое свойство имеет набор допустимых значений, определённых формальными правилами, а также семантический смысл, реализованный движком браузера.